In [1]:
from transfermarkt import Player

In [2]:
playerId = 28003

messi = Player(playerId)

C:\Users\Wilson Felipe\Documents\GitHub\simple-transfermarkt-crawler\transfermarkt.py:76: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 76 of the file C:\Users\Wilson Felipe\Documents\GitHub\simple-transfermarkt-crawler\transfermarkt.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  img = BeautifulSoup(row['team']).find('img')
C:\Users\Wilson Felipe\Documents\GitHub\simple-transfermarkt-crawler\transfermarkt.py:78: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 78 of the file C:\Users\Wilson Felipe\Documents\GitHub\simple-transfermarkt-crawler\transfermarkt.py. To get rid of this warning, pass the additional argument 'features="lxml"' to the BeautifulSoup constructor.

  img = BeautifulSoup(row['opponent']).find('img')

In [3]:
messi.matches()

,competition,matchday,date,venue,team,opponent,result,position,goals,assists,yellow,secondYellow,red,minutesPlayed
0,LaLiga,7,2004-10-16,A,FC Barcelona,RCD Espanyol Barcelona,0:1,RW,0,0,NaN,NaN,NaN,8
1,LaLiga,8,2004-10-24,H,FC Barcelona,CA Osasuna,3:0,LW,0,0,NaN,NaN,NaN,19
2,LaLiga,14,2004-12-04,H,FC Barcelona,Málaga CF,4:0,RW,0,0,NaN,NaN,NaN,9
3,LaLiga,15,2004-12-11,A,FC Barcelona,Albacete Balompié,1:2,LW,0,0,NaN,NaN,NaN,1
4,LaLiga,17,2004-12-21,H,FC Barcelona,Levante UD,2:1,RW,0,0,NaN,NaN,NaN,32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,FIFA Club World Cup,Final,2015-12-20,A,FC Barcelona,Club Atlético River Plate,0:3,RW,1,0,NaN,NaN,NaN,90
702,UEFA Super Cup,Final,2006-08-25,H,FC Barcelona,Sevilla FC,0:3,RW,0,0,NaN,NaN,NaN,90
703,UEFA Super Cup,Final,2009-08-28,H,FC Barcelona,Shakhtar Donetsk,1:0 AET,RW,0,1,90',NaN,NaN,120
704,UEFA Super Cup,Final,2011-08-26,H,FC Barcelona,FC Porto,2:0,CF,1,1,NaN,NaN,NaN,90
705,UEFA Super Cup,Final,2015-08-11,H,FC Barcelona,Sevilla FC,5:4 AET,RW,2,0,NaN,NaN,NaN,120

In [4]:
messi.matches(date = '2015').head() # All messi matches in 2015

,competition,matchday,date,venue,team,opponent,result,position,goals,assists,yellow,secondYellow,red,minutesPlayed
293,LaLiga,17,2015-01-04,A,FC Barcelona,Real Sociedad,1:0,RW,0,0,NaN,NaN,NaN,45
294,LaLiga,18,2015-01-11,H,FC Barcelona,Atlético Madrid,3:1,RW,1,1,81',NaN,NaN,90
295,LaLiga,19,2015-01-18,A,FC Barcelona,Deportivo de La Coruña,0:4,RW,3,0,NaN,NaN,NaN,90
296,LaLiga,20,2015-01-24,A,FC Barcelona,Elche CF,0:6,CF,2,2,NaN,NaN,NaN,90
297,LaLiga,21,2015-02-01,H,FC Barcelona,Villarreal CF,3:2,RW,1,0,NaN,NaN,NaN,90

In [5]:
messi.matches(competition='LaLiga').head() # Messi all in LaLiga

,competition,matchday,date,venue,team,opponent,result,position,goals,assists,yellow,secondYellow,red,minutesPlayed
0,LaLiga,7,2004-10-16,A,FC Barcelona,RCD Espanyol Barcelona,0:1,RW,0,0,NaN,NaN,NaN,8
1,LaLiga,8,2004-10-24,H,FC Barcelona,CA Osasuna,3:0,LW,0,0,NaN,NaN,NaN,19
2,LaLiga,14,2004-12-04,H,FC Barcelona,Málaga CF,4:0,RW,0,0,NaN,NaN,NaN,9
3,LaLiga,15,2004-12-11,A,FC Barcelona,Albacete Balompié,1:2,LW,0,0,NaN,NaN,NaN,1
4,LaLiga,17,2004-12-21,H,FC Barcelona,Levante UD,2:1,RW,0,0,NaN,NaN,NaN,32

In [6]:
messi.matches(opponent='Real Madrid', competition='UEFA Champions League').head() # Messi all matches against Real Madrid in UEFA Champions League

,competition,matchday,date,venue,team,opponent,result,position,goals,assists,yellow,secondYellow,red,minutesPlayed
611,UEFA Champions League,Semi-Finals 1st Leg,2011-04-27,A,FC Barcelona,Real Madrid,0:2,CF,2,0,NaN,NaN,NaN,90
612,UEFA Champions League,Semi-Finals 2nd Leg,2011-05-03,H,FC Barcelona,Real Madrid,1:1,RW,0,0,NaN,NaN,NaN,90

In [7]:
messi.performance(by='competition') # Messi stats by competition

                       appearances  goals  assists  minutesPlayed
competition
Copa del Rey                    73     51       34           5821
FIFA Club World Cup              5      5        1            427
LaLiga                         466    432      175          37416
Supercopa                       18     13        5           1464
UEFA Champions League          140    114       35          11522
UEFA Super Cup                   4      3        2            420

In [13]:
messi.performance(by='position') # Messi stats by position

          appearances  goals  assists  minutesPlayed
position
AM                  7     10        3            603
CF                246    263       99          20333
LW                  7      1        5            417
RW                405    308      128          32181
SS                 41     36       17           3536

In [9]:
messi.matches()['goals'].sum() # Messi all-time goals

618

In [10]:
messi.matches()['assists'].sum() # Messi all-time goals

252